<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p>
  <a href="/celebrities">List of Celebrities</a>
  <a href="/celebrities/create">Create a new Celebrity</a>
  <a href="/movies">List of Movies</a>
  <a href="/movies/create">Create a new movie</a>
  <a href="/movies/edit-movie">Edit the Movie</a>
</p>